# Root gitignore
node_modules/
.env
.DS_Store
.idea
package-lock.json

# Backend specific
backend/target/
backend/.idea/
backend/*.iml

# Frontend specific
frontend/dist/
frontend/.vite/
frontend/node_modules/
